<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div th:each="user : ${usersList}">
    <a th:text="${user.getFirstName() + ', ' + user.getLastName() + ', ' + user.getEmail()}"/>
    <button th:onclick="|window.location.href='/edit-user?id=${user.getId()}'|">Edit user</button>
    <form th:method="POST" th:action="@{/delete-user(id=${user.getId()})}">
        <input style="color:red" type="submit" value="Delete user">
    </form>
</div>

<br/>
<hr/>

<button th:onclick="|window.location.href='/add-user'|">New user</button>

</body>
</html>